*{
    margin: 0;
    padding: 0;
}

.container{
    background-image: url('Images/coffe.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container .item{
    height: 300px;
    width: 240px;
    background-color: black;
    color: wheat;
    
}
